*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  /* font-size: 62.5%; (62.5/100) * 16px = 10px */
  color: #38353f;
}

body {
  max-width: 950px;
  margin: 0 auto;
}

h2 {
  font-size: 34px;
}

p {
  line-height: 1.3em;
  margin: 20px 0;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  /* background-color: rgb(248, 250, 251); */
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.acorn {
  margin: 0 20px 0 0;
  height: 100%;
}

.top-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: min-content;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  padding: 25px;
  background-color: rgb(248, 250, 251);
  opacity: 1;
}

@keyframes fadeInFromBelow {
  0% {
    transform: translateY(+50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-2 h2 {
  animation: 1s ease-out 0s 1 fadeInFromBelow;
}

.top-2 p {
  animation: 2s ease-out 0s 1 fadeIn;
}

.headshot {
  border-radius: 50%;
  margin: 20px 0 30px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: auto;
}

.links a {
  font-weight: bold;
  margin: 0 20px 0 0;
}

.links a:hover {
  color: rgba(57, 54, 64, 0.8);
  text-decoration: underline;
}

.temp {
  width: 100%;
  padding: 25px;
  background-color: #fff;
}

@media screen and (min-width: 810px) {
  h2 {
    font-size: 54px;
  }

  p {
    font-size: 21px;
  }

  .top-container {
    flex-direction: row;
    padding: 50px;
  }

  .top-1 {
    display: flex;
  }

  .headshot {
    margin: auto;
  }

  .top-2 {
    padding-left: 50px;
  }
}
